<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljy.musicapplication.mapper.MusicMapper">
    <!-- 定义一个resultMap，封装查询回来的数据 -->
    <resultMap id="resultMusicMap" type="Music">
    <!--建立music表字段与Music实体类属性之间的映射关系-->
    <!--左边是表字段，右边是实体类的属性-->
        <id column="music_id" property="musicId"></id>
        <result column="music_name" property="musicName"></result>
        <result column="music_pic" property="musicPic"></result>
        <result column="singer" property="singer"></result>
        <result column="record_company" property="recordCompany"></result>
        <result column="release_date" property="releaseDate"></result>
        <result column="depict" property="depict"></result>
        <result column="price" property="price"></result>
        <result column="status" property="status"></result>
        <!--关联MusicType-->
        <association property="musicType" javaType="MusicType">
            <id column="musictype_id" property="musictypeId"></id>
            <result column="musictype_name" property="musictypeName"></result>
            <result column="musictype_depict" property="musictypeDepict"></result>
        </association>
    </resultMap>
    <!--添加音乐-->
    <insert id="addMusic" parameterType="Music">
        insert into music(music_name, music_pic, singer, musictype_id, record_company, release_date, depict, price)
        value (#{musicName}, #{musicPic}, #{singer}, #{musicType.musictypeId}, #{recordCompany}, #{releaseDate}, #{depict}, #{price})
    </insert>
    <!--查询所有音乐（支持关键字，不支持分页）mabatis模糊查询-->
    <select id="findMusicAll" parameterType="string" resultMap ="resultMusicMap">
        select m.music_id, m.music_name, m.music_pic, mt.musictype_id, m.singer, m.record_company,
               m.release_date, m.depict, m.price, m.status
               from  music m, musictype mt

        where m.music_id = mt.musictype_id
        and m.del_flag = 1
        and (m.music_name like concat("%", #{keywords}, "%")
        || mt.musictype_name like concat("%", #{keywords}, "%")
        || m.singer like concat("%", #{keywords}, "%") )
    </select>
    <!--修改音乐-->
    <update id="updateMusic" parameterType="Music">
        update music
        <set>
            <if test="musicName != null and musicName != ''">
                music_name = #{musicName},
            </if>
            <if test="musicPic != null and musicPic != ''">
                music_pic = #{musicPic},
            </if>
            <if test="singer != null and singer != ''">
                singer = #{singer},
            </if>
            <if test="musicType != null and musicType.musictypeId!=''">
                musictype_id = #{musicType.musictypeId},
            </if>
            <if test="recordCompany != null and recordCompany != ''">
                record_company = #{recordCompany},
            </if>
            <if test="releaseDate != null and releaseDate != ''">
                release_date = #{releaseDate},
            </if>
            <if test="depict != null and depict != ''">
                depict = #{depict},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>

        </set>
        where music_id = #{musicId}
    </update>
    <!--删除音乐类别（真删除）-->
    <delete id="deleteMusic1" parameterType="int">
        delete from music where music_id = #{musicId}
    </delete>
    <!--删除音乐类别（假删除）-->
    <update id="deleteMusic2" parameterType="int">
        update music set del_flag = 0 where music_id = #{musicId}
    </update>
</mapper>