<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljy.musicapplication.mapper.UsersMapper">
    <!--登录-->
    <select id="login" parameterType="Users" resultType="Users">
        select *
        from users
        where phone = #{phone}
          and password = #{password}
          and del_flag = 1
    </select>
    <!--修改个人信息（包括修改密码）-->
    <update id="updateUsers" parameterType="Users">
        update users
        <set>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="sex != null and sex!=''">
                sex = #{sex},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="role != null and role != ''">
                role = #{role},
            </if>

        </set>
        where user_id = #{userId}
    </update>
</mapper>